<td><%= value.volume %></td>
<td><%= value.price_change %></td>
<td><%= value.price_change_pct %></td>
<td><%= value.volume_change %></td>
<td><%= value.volume_change_pct %></td>
<td><%= value.market_cap_change %></td>
<td><%= value.market_cap_change_pct %></td>
